nav{
    position: fixed !important;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.288) !important;
    z-index: 1;
}
.logo{
    width: 40px;
    background-color: blue;
    border-radius: 50%;
    padding: 0px;

}
.nav-item{
    margin-left: 20px;
}
.nav-item,li,a{
    color: white !important;
}
.dropdown-item{
    color: black !important;
}
.nav-item,li,a:hover{
    color: blue !important;
}
/* end of nav styles */
#section{
    background-position: center;
    background-size: cover;
    min-height: 70vh;
}
.home-info{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.63);
    color: white;
    object-fit: cover;
    min-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* pizza section */
main{
    background-color:rgba(0, 0, 255, 0.116);
}
main h2{
    text-align: center;
    padding: 5vh;
}
.pizza{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    border-collapse: collapse;
    background-color: white;
    width: 32% !important;
    margin-bottom: 4vh;
    padding-bottom: 2vh;
}
.pizza h2{
    color: blue;
}
.pizza p{
    margin: auto 10%;
}
.main-row{
    justify-content: space-around;
}
.pizza div{
    display: block;
    width: 100%;
}
.pizza div{
    display: block;
    width: 100%;
    min-height: 25vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1vh;
    
}
.pizza div img{
    width: 90%;
    height: auto;

}
.pizza div:last-child{
    margin-top: 2vh;
    padding-top: 2vh;
}
ul{
    list-style-type: none;
}
.btn-primary{
    width: 50%;
}
/* media query to rearrange pizza divs for small screens */
@media screen and (max-width: 720px) {
    #pizza {
        width: 90% !important;
        float: left !important;
        margin-top: 2vh;
        padding: 2vh;
    }
}
/* the crust section */
.nav-link{
    color: black !important;
}
#initiallyHidden1, #initiallyHidden2{
    display: none;
}
span{
    cursor: pointer;
}
/* toppings section */
.toppings{
 justify-content: space-around;
}
.card-body img{
    width: 100%;
    border-radius: 10px;
}




























/* footer section */
footer{
    background-color: rgba(0, 0, 0, 0.37);
    margin-top: 2vh;
    min-height: 10vh;
    text-align: center;
}
.footer p{
    padding-top: 3vh;
}


